# This is the bastion host to jump through to access the database
SSH_HOST=

# This is the user to use when connecting to the bastion host
SSH_USER=

# This is the hostname of the database server
DB_HOST=

# This is the GitHub token with read access to the isomerpages organisation
GITHUB_TOKEN=

# This is the database connection string after using the jump step
DATABASE_URL=
