.env
*/node_modules/
setup-hosting/
.DS_Store
*/.ssh/
*.log
docs/
images/
pdf/
docs/
json/
*.csv
*.ipynb_checkpoints

# JetBrains settings
.idea/


metadata*/
egazettes*/
errors*/
2023-gazettes*/

venv
*.pyc
